.boxlist{
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px
}

.box{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 10 px;
    padding: 25px;
}